*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

:root{

    /* colors */
    --background-color: black;
    --bg-color: rgb(44, 40, 40);
    --primary-text-color: rgb(237, 223, 223);
    --task-color: rgb(92, 79, 79);
    --delete-color: red;
    --add-color: green;

    /* padding */
    --nav-padding: 15px 30px;
    --section-padding: 15px 30px;
    --padding-small: 5px;
    --padding-medium: 10px;
    --padding-large: 15px;
    --padding-xl: 20px;

    /* border-radius */
    --border-radius-sm: 5px;
    --border-radius-m: 10px;
    --border-radius-l: 15px;
    --border-radius-xl: 20px;
    
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

body{
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    padding: var(--nav-padding);
}

nav button{
    background-color: var(--add-color);
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
    outline: none;
    padding: var(--padding-medium) var(--padding-medium);
    border-radius: var(--border-radius-m);
}

section{
    padding: var(--section-padding);
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    gap: var(--padding-xl);
   
}

section .task-column{
    background-color: var(--bg-color);
    flex-grow: 1;
    padding: var(--padding-medium) var(--padding-medium);
    display: flex;
    flex-direction: column;
    gap: var(--padding-xl);
    border-radius: var(--padding-medium);
    transition: all 0.7s cubic-bezier(0.19,1,0.22,1);
}

section .task-column.hover-over{
    border: 2px dashed var(--primary-text-color);
    scale: 1.05;
}

section .task-column .heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

section .task-column .task{
    background-color: var(--task-color);
    padding: var(--padding-medium);
    border-radius: var(--border-radius-m);
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
    cursor: grab;
    
    
}

section .task-column .task button{
    align-self: flex-end;
    padding: var(--padding-small);
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    background-color: var(--delete-color);
    color: var(--primary-text-color);
    border: none;
    outline: none;
}

.modal{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.modal.active{
    display: flex;
}

.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(43, 42, 42, 0.717);
    backdrop-filter: blur(5px);
}

.modal .center{
    background-color: var(--background-color);
    padding: var(--padding-small);
    border-radius: var(--border-radius-sm);
    display: flex;
    z-index: 10;
    flex-direction: column;
    gap: var(--padding-medium);
}

.modal .center input, .modal .center textarea, .modal .center select{
    background-color: var(--task-color);
    border: none;
    outline: none;
    color: var(--primary-text-color);
    padding: var(--padding-small);
    border-radius: var(--border-radius-sm);
}

.modal .center button{
    background-color: var(--add-color);
    color: var(--primary-text-color);
    border: none;
    cursor: pointer;
    outline: none;
    padding: var(--padding-small);
    border-radius: var(--border-radius-sm);
}
